window.__beacon = {
  publicKey: '__BEACON_PUBLIC_KEY__',
  apiUrl: 'https://beacon.ops.devjetnet.com/api/v1',
};
(function () {
  var s = document.createElement('script');
  s.src = 'https://beacon.ops.devjetnet.com/agent/sdk/__BEACON_PUBLIC_KEY__';
  s.async = true;
  s.onload = function () { window.Beacon && window.Beacon.init(); };
  document.head.appendChild(s);
})();