enableCloseCalls = __FEATURE_FLAG_ENABLE_CLOSE_CALLS__;
enableMostWatched = __FEATURE_FLAG_ENABLE_MOST_WATCHED__;
enableActiveDates = __FEATURE_FLAG_ENABLE_ACTIVE_DATES__;
var interestingFlightsApiUrl = '__INTERESTING_FLIGHTS_API_URL__';
